

{% extends 'form/base.html' %}



{% block content %}

<h2 class="display-1" style="text-align: center;">আমরা কারা</h2>
<hr>

<h5>
<p>শব্দাশ্বের প্রয়োজন হয়ে পড়েছিল এই কারনে, যে আমরা চেয়েছিলাম একসাথে বহু প্রতিভাবান লেখকের আত্মপ্রকাশ এবং তাঁদের লেখাগুলোকে পাঠকের সামনে পৌঁছে দেওয়ার একটা প্রক্রিয়া শুরু করতে। বস্তুত শব্দাশ্ব লেখকের স্বাধীনতার জাতক, এবং লেখকের স্বাধীনতার নামকরণের মধ্যেই তার পরিচয়টি নিহিত।</p>
<p>আজ থেকে তিন বছর আগে যখন লেখকের স্বাধীনতা নামে গ্রুপটির আত্মপ্রকাশ ঘটল, তখন থেকেই শব্দাশ্বের জন্ম, যদিও সে এতকাল আমাদের মানসপ্রাঙ্গনেই বিচরণ করত, আজ তাকে অন লাইনের পরিসরে সামনে নিয়ে এলাম। এর আগে শব্দাশ্ব ছাপার অক্ষরে বেরিয়েছে, কলকাতা এবং ঢাকা বইমেলাতে শব্দাশ্বের উপস্হিতি ছিল আমাদের সবার ক্ষেত্রেই আনন্দদায়ক এবং প্রকাশিত হওয়ার সঙ্গে সঙ্গেই বইটি নিঃশেষিত হয়ে গিয়েছিল। শব্দাশ্বের লেখক এবং পাঠকরা সারা বিশ্বব্যাপী ছড়িয়ে আছেন। তাঁদের হাতে তাঁদের সৃষ্টিকে সহজে পৌঁছে দেওয়ার জন্যও শব্দাশ্বের অন লাইন সংস্করনটিকে আজ লেখক এবং পাঠকের সামনে উপস্থিত করা হল। শব্দাশ্ব দুই ভাবেই প্রকাশিত হবে, অন লাইন এবং ছাপার অক্ষরে। অন লাইনে শব্দাশ্ব প্রতি তিনমাস অন্তর আমরা নিয়ে আসব, এবং বিশেষ বিশেষ উপলক্ষ্যে ছাপার অক্ষরে প্রকাশিত হবে।  </p>
<p>এখানে যাঁরা লিখেছেন, তাঁরা প্রত্যেকেই সুলেখক, এবং তাঁদের শক্তিমত্তা সম্পর্কে আমার অন্তত কোনও সন্দেহ নেই। কারন লেখার ব্যাপারে আমরা অত্যন্ত খুঁতখুঁতে। শুধুমাত্র সম্পর্কের খাতিরে আমরা কোনও লেখাকে কোনোদিনই ভালো বলিনি, এবং বলবোও না। শব্দাশ্বও তাই সম্পর্ক না, অক্ষরের অনুপম আলোয় বিশ্বাস করে।
আশা করি শব্দাশ্ব পাঠক সমাদৃত হবে, এবং তার জায়গাটিকে সুনিশ্চিত করবে।</p>
</h5>


<div class="sompadok">
    <marquee>
        <span style="color: rgb(231, 46, 46);">
    <strong>সম্পাদক ::</strong>

অর্ঘ্য রায় চৌধুরী,
রুবানা ফারাহ্ আদিবা,
লীনা রায়চৌধুরী
</span>
</marquee>

<marquee>
    <span style="color: rgb(46, 157, 231);">
        <strong>উপদেষ্টামন্ডলী::</strong>

কৌশিক চক্রবর্তী,
পিয়াংকী মুখার্জি,
রোবায়দা নাসরিন,
আসিফ ইকবাল,
জামান একুশে
</span>

</marquee>
</div>



{% endblock content %}