{% extends 'form/base.html' %}



{% block content %}

<h2 class="display-1" style="text-align: center;">লেখক পরিচয়</h2>
<hr>

{% for all in AuthPage %}

<div class="container">
    <div class="avatar" style="width: 100px; margin: auto;">
        <img src="{{all.authImg.url}}" alt="avatar" style="border-radius: 50%; height: 100%; width: 100%">
    </div>
</div>

<div class="container" style="margin: auto; text-align: center; margin-top: 10px;">
    <h1><strong> {{all.authName}} </strong></h1>
    <hr>
</div>
<div class="container">
    <span style="font-size: 20px; font-weight: bold; font-family: 'Galada', cursive;">লেখক/লেখিকা বিবরণ: </span><h4>{{all.description|linebreaks}}</h4>
    <hr>
</div>

{% endfor %}

{% endblock content %}