{% extends 'form/base.html' %}

{% block content %}

{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>শব্দাশ্ব</title>
</head>

<body>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  <div class="container">

    <div class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 link-secondary" href="{% url 'stories' %}">গল্প</a>
        <a class="p-2 link-secondary" href="{% url 'poems' %}">কবিতা</a>
        <a class="p-2 link-secondary" href="{% url 'rommo' %}">রম্যরচনা</a>
      </nav>
    </div>

    <br>
    {% for all in Images|slice:"1" %}
    <div>
      <div style="align-items: center;">
        <img src="{{all.img.url}}" alt="image" style="width: 100%; height: auto;">
      </div>
    </div>
    {% endfor %}

    <br>

    <div class="row mb-2">

      {% for all in context|slice:"2" %}

      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">{{all.content_type}}</strong>
            <h3 class="mb-0" id="titleid">{{all.storyname}}</h3>
            <a href="{% url 'authpage' all.uniqueID %}" class="mb-1">{{all.authorname}}</a>
            <p class="card-text mb-auto">{{all.content|truncatechars:100}}</p>
            <a href="#" class="text-muted">নীচে পড়ুন...</a>
          </div>
        </div>
      </div>

      {% endfor %}

    </div>
  </div>



  <main class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="blog-post">
          <h2 class="blog-post-title">টিম শব্দাশ্ব</h2>
          <hr>
          <p class="blog-post-meta">
              <h3>অর্ঘ্য রায় চৌধুরী</h3>
              <h3>রুবানা ফারাহ্ আদিবা</h3>
              <h3>লীনা রায়চৌধুরী</h3>


              <h3>উপদেষ্টামন্ডলী</h3>

              <h3>কৌশিক চক্রবর্তী</h3>
              <h3>পিয়াংকী মুখার্জি</h3>
              <h3>রোবায়দা নাসরিন</h3>
              <h3>আসিফ ইকবাল</h3>
              <h3>জামান একুশে</h3>
          </p>

          <p>{{all.content|linebreaks}}</p>
        </div><!-- Blog 2 -->
        <hr>

      </div>

      <aside class="col-md-4">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="font-italic">আমরা কারা ?</h4>
          <p class="mb-0">শব্দাশ্বের প্রয়োজন হয়ে পড়েছিল এই কারনে, যে আমরা চেয়েছিলাম একসাথে বহু প্রতিভাবান লেখকের
            আত্মপ্রকাশ</p>
          <a href="{% url 'aboutus' %}" class="mb-1">আরো পড়ুন...</a>
        </div>

        <div class="p-4">
          <h4 class="font-italic">আর্কাইভ</h4>
          <hr>
          <ol class="list-unstyled mb-0">
            <li><a href="{% url 'winter' %}">শীতসংখ্যা</a></li>
            <li><a href="{% url 'spring' %}">বসন্তসংখ্যা</a></li>
            <li><a href="{% url 'rain' %}">বর্ষাসংখ্যা</a></li>
            <li><a href="{% url 'puja' %}">শারদসংখ্যা</a></li>
            <li><a href="{% url 'special' %}">বিশেষসংখ্যা</a></li>
            <li><a href="{% url 'allauths' %}">পাতার লেখক/লেখিকাবৃন্দ</a></li>
          </ol>
        </div>

        <div class="p-4">
          <h4 class="font-italic">সমর্থন করুন</h4>
          <hr>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </aside>

    </div>

  </main>

</body>

</html>
{% endblock content %}