{% extends 'form/base.html' %}

{% load crispy_forms_tags %}

<title>ম্যাগাজিন সাবস্ক্রিপশন ফর্ম</title>

{% block content %}
<br>
<form action="" method="POST" autocomplete="on">
    {% csrf_token %}
    <div class="container">
        <br>
        {{form.name|as_crispy_field}}
        <br>
        {{form.email|as_crispy_field}}
        <br>
    

    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fa fa-database" aria-hidden="true"></i> জমা দিন</button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'index' %}" class="btn btn-danger btn-block btn-lg">
                <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
                হোমে ফিরে যান
            </a>
        </div>
    </div>
    </div>
    <br><br>
    
</form>
{% endblock content %}